<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.oso">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        /*
        We are now ready to receive events. The events will be sent to a broadcast receiver.
        This way the app will receive events even if the Android system has shut down
        the app process. The intent name to listen for is io.flic.FLICLIB_EVENT,
        which we register in the AndroidManifest file.
        */
        <receiver
            android:name=".ExampleBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="io.flic.FLICLIB_EVENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>